.researchCity {
	display: flex;
	padding-top: 2%;
}
.inputContainer {
	display: flex;
	flex-direction: column;
	padding-top: 1%;
}

div svg {
	margin-left: 80vw;
	margin-top: 5%;
	width: 40px;
	height: 40px;
	cursor: pointer;
}

.contanirForm {
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

form div {
	margin-bottom: 20px;
}
input {
	width: auto;
}

.searchButton {
	height: 34px;
	padding-top: 3px;
}

@media only screen and (max-width: 767px) {
	.contanirForm {
		position: absolute;
		z-index: 2;
		top: 9%;
		right: 0px;
		width: 100vw;
		background-color: white;
		opacity: 0.9;
		height: 80vh;
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: start;
	}
}
