#mainComponent div{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 0;
    top: 53vh;
    border-radius: 40px 40px 0px 0px;   
}
#mainComponent.sunny div{
   background-color: var(--sunny);
}

#mainComponent.rainy div{
    background-color: var(--rainy);
 }

 #mainComponent.cloudy div{
    background-color: var(--cloudy);
 }

 #mainComponent.night div{
    background-color: var(--night);
 }