*{
	color: rgb(45, 45, 79);
}
/*Contenitore Carta meteo di tutto*/
.card-weather {
	width: 80vw;
	margin: auto;
	padding-top: 18%;
	height: 88vh;
	border-radius: 15px;
	background-color: rgb(255, 255, 255, 0.5);
	position: relative;
	z-index: 3;
	border: solid rgb(48, 42, 165) 2px;
	backdrop-filter: blur(20px); /*sfoca*/
}

.card-weather-scrolling{
	width: 80vw;
	margin: auto;
	padding-top: 1%;
	height: 88vh;
	border-radius: 15px;
	background-color: rgb(255, 255, 255, 0.5);
	position: relative;
	top: 6em;
	z-index: 3;
	backdrop-filter: blur(20px); /*sfoca*/
	border: solid rgb(48, 42, 165) 2px;
}


/*---------------------------------*/
/*contenitore nome città + data*/
#headCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	/*border: solid olivedrab 2px;*/
}
/*nome città*/
#headCard h3 {
	margin-bottom: 0px;
}
/*data
#headCard h3 + span {
	transform: translateY(-15px);
}*/

/*simbolo posizione citta*/
.svg {
	width: 18pt;
	padding-bottom: 18px;
}
/*---------------------------------*/

/*Contenitore img sole + temperatura (ex: 10°) + descrizione meteo (ex: soleggiato)*/
.weather {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: solid red 2px;
}

.weather-scrolling {
	margin-top: 0px;
	margin-left: 12%;
	position: fixed;
	width: 80vw;
	height: 40vh;
	top: 20em;
}
/*temperatura (ex: 10°) + descrizione meteo (ex: soleggiato)*/
#weather > p, #weather p{
	color: rgb(27, 27, 111);
	/*border: solid blue 2px;*/
}

#weather > p{
	font-size: large;
	font-weight: 600;
	transform: translateY(-55%);
}

#weather img {
	width: 60%;
	/*border: solid green 2px;*/
}
#temperature {
	font-size: 65pt;
	/*border: solid purple 2px;*/
}
#temperatureScrolling {
	font-size: 23pt;
	font-weight: 600;

}

/*Animation Scrolling*/
#animationScrolling{
	background-color: white;
	position: sticky;
	top: 5px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;	   
}


