*{
	color: rgb(45, 45, 79);
}
/*Contenitore Carta meteo di tutto*/
.card-weather {
	width: 80vw;
	margin: auto;
	padding-top: 18%;
	height: 88vh;
	border-radius: 15px;
	background-color: rgb(255, 255, 255, 0.5);
	position: relative;
	z-index: 3;
	/*border: solid rgb(48, 42, 165) 2px;*/
	backdrop-filter: blur(20px); /*sfoca*/
}

.card-weather-scrolling{
	width: 80vw;
	margin: 6% auto;
	padding-top: 1%;
	height: 40vh;
	border-radius: 15px;
	background-color: rgb(255, 255, 255, 0.5);
	top: 1em;
	left: 2.5em;
	z-index: 3;
	backdrop-filter: blur(20px); /*sfoca*/
	/*border: solid rgb(48, 42, 165) 2px;*/
	position: fixed;
}


/*---------------------------------*/
/*contenitore nome città + data*/
#headCard {
	display: flex;
	flex-direction: column;
	align-items: center;
}
/*nome città*/
#headCard h3 {
	margin-bottom: 0px;
}


/*simbolo posizione citta*/
.svg {
	width: 18pt;
	padding-bottom: 18px;
}
/*---------------------------------*/

/*Contenitore img sole + temperatura (ex: 10°) + descrizione meteo (ex: soleggiato)*/
.weather {
	display: flex;
	flex-direction: column;
	align-items: center;
	/*border: solid red 2px;*/
}

.weather-scrolling {
	margin-top: 1em;
	position: fixed;
	width: 50vw;
	height: 20vh;
	top: 2em;
}

.weather-scrolling img{
	margin-left: 40%;
	height: 8em;
}
/*temperatura (ex: 10°) + descrizione meteo (ex: soleggiato)*/
#weather > p, #weather p{
	color: rgb(27, 27, 111);
}

#weather > p{
	font-size: large;
	font-weight: 600;
	transform: translateY(-55%);
}

#weather img {
	width: 60%;
}
#temperature {
	font-size: 65pt;
}
#temperatureScrolling {
	font-size: 21pt;
	font-weight: 600;
	padding-left: 13%;
}

#temperatureScrolling + p{
	padding-left: 13%;
	transform: translateY(-48%);
	width: 30%;
}

/*Animation Scrolling*/
#animationScrolling{
	background-color: white;
	position: sticky;
	top: 5px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;	   
}

.c-humidity-wind{
	padding: 45% 0%;
}


